In [1]:
#############
# LIBRARIES #
#############

from get_strava_data import my_data, process_data # Functions to retrive data using strava api and process for visualizations

import pandas as pd
import numpy as np
import datetime as dt

import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

In [2]:
##########################
# Getting all activities #
##########################

all_activities = my_data()

Getting data...
Requesting page 1...

<Response [200]>
Data retrieved successfully!
Requesting page 2...

<Response [200]>
Data retrieved successfully!
Requesting page 3...

<Response [200]>
Data retrieved successfully!
Requesting page 4...

<Response [200]>
Data retrieved successfully!

In [3]:
all_activities

,resource_state,athlete,name,distance,moving_time,elapsed_time,total_elevation_gain,type,id,start_date,...,workout_type,average_cadence,average_temp,average_watts,max_watts,weighted_average_watts,kilojoules,device_watts,elev_high,elev_low
0,2,"{'id': 644338, 'resource_state': 1}",HIIT,0.0,2297,2297,0.0,Workout,6942582364,2022-04-06T22:39:59Z,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,"{'id': 644338, 'resource_state': 1}",Windy! ðŸ’¨,30998.3,4379,4714,81.0,Ride,6937664224,2022-04-05T22:16:22Z,...,10.0,72.8,20.0,143.8,1428.0,152.0,629.5,True,15.0,-51.0
2,2,"{'id': 644338, 'resource_state': 1}",Evening Activity,0.0,1724,1724,0.0,Workout,6932749848,2022-04-04T23:04:12Z,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2,"{'id': 644338, 'resource_state': 1}",Errands,8042.2,1535,2976,7.6,Ride,6933025280,2022-04-05T01:30:47Z,...,10.0,NaN,NaN,71.2,NaN,NaN,109.3,False,7.2,2.3
4,2,"{'id': 644338, 'resource_state': 1}",Riding with the boy,16471.2,3675,4071,9.8,Ride,6928412920,2022-04-04T00:14:01Z,...,10.0,NaN,NaN,51.8,NaN,NaN,190.4,False,6.6,1.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112,2,"{'id': 644338, 'resource_state': 1}","06/16/2012 New York, NY",3900.4,874,874,13.1,Ride,11732689,2012-06-16T21:13:12Z,...,NaN,NaN,NaN,67.0,NaN,NaN,58.6,False,24.0,-0.0
113,2,"{'id': 644338, 'resource_state': 1}","06/03/2012 New York, NY - Tour de Brooklyn",55940.9,13116,21718,162.8,Ride,11732533,2012-06-03T11:49:48Z,...,NaN,NaN,NaN,49.1,NaN,NaN,643.6,False,61.5,-0.2
114,2,"{'id': 644338, 'resource_state': 1}","06/02/2012 New York, NY",19980.8,4733,5134,86.4,Ride,11732479,2012-06-02T16:29:57Z,...,NaN,NaN,NaN,53.1,NaN,NaN,251.2,False,61.5,-0.1
115,2,"{'id': 644338, 'resource_state': 1}","05/26/2012 New York, NY",19207.2,4770,6295,51.7,Ride,11732411,2012-05-26T19:33:59Z,...,NaN,NaN,NaN,42.7,NaN,NaN,203.7,False,76.0,-0.3
116,2,"{'id': 644338, 'resource_state': 1}","05/16/2012 New York, NY",13455.7,3820,5523,107.7,Ride,11732225,2012-05-16T23:15:07Z,...,NaN,NaN,NaN,61.7,NaN,NaN,235.8,False,77.2,-0.1

In [ ]:
processed_data

In [ ]:
###########################
# STRAVA LIFETIME SUMMARY #
###########################

# Total number of activities
start_date = processed_data.year.min()
burger_calories = 354
total_activities = processed_data.id.count()



print(f'Total number of activities since {start_date}: {total_activities}')

# Ratio of activities by type
processed_data['type'].value_counts(normalize=True)

# Breakdown of activities by type
processed_data['type'].value_counts()

# Total distance by activity type
total_by_activity = processed_data.groupby('type')['distance'].sum().sort_values(ascending=False)

In [ ]:
processed_data.columns

In [ ]:
# Grouping data by year, month and weekday
activities_df['cumulative_distance'] = activities_df.groupby(['year', 'month', 'weekday']).agg({'distance': 'cumsum'})
activities_df

In [ ]:
kjoule_to_cal = 0.239006 # 1 kjoule = 0.239006 calories
# Converting kjoule to calories
activities_df['calories'] = activities_df['kilojoules'] * kjoule_to_cal

In [ ]:
activities_df

In [ ]:
#################
# DATA ANALYSIS #
#################

# Total number of activities
start_date = activities_df.year.min()
burger_calories = 354
total_activities = activities_df.id.count()
total_calories = activities_df.calories.sum()
burgers_burned = total_calories / burger_calories



print(f'Total number of activities since {start_date}: {total_activities}')
print(f'Total calories burned: {total_activities} or {burgers_burned} burgers!')

# Ratio of activities by type
activities_df['type'].value_counts(normalize=True)

# Breakdown of activities by type
activities_df['type'].value_counts()

# Total distance by activity type
total_by_activity = activities_df.groupby('type')['distance'].sum().sort_values(ascending=False)

In [ ]:
activities_df.head()

In [ ]:
activities_df.columns

In [ ]:
total_by_activity

In [ ]:



# x=activities_df.groupby(['type'])['type'].count()
# y=len(activities_df)
# r=((x/y)).round(2)

# mf_ratio = pd.DataFrame(r).T
# mf_ratio

In [ ]:

fig, ax = plt.subplots(1,1,figsize=(6.5, 2.5))

ax.barh(mf_ratio.index, mf_ratio['Ride'], 
        color='#b20710', alpha=0.9, label='Male')
ax.barh(mf_ratio.index, mf_ratio['Run'], left=mf_ratio['Ride'], 
        color='#221f1f', alpha=0.9, label='Female')

ax.set_xlim(0, 1)
ax.set_xticks([])
ax.set_yticks([])
#ax.set_yticklabels(mf_ratio.index, fontfamily='serif', fontsize=11)


# movie percentage
for i in mf_ratio.index:
    ax.annotate(f"{int(mf_ratio['Ride'][i]*100)}%", 
                   xy=(mf_ratio['Ride'][i]/2, i),
                   va = 'center', ha='center',fontsize=40, fontweight='light', fontfamily='serif',
                   color='white')

    ax.annotate("Ride", 
                   xy=(mf_ratio['Ride'][i]/2, -0.25),
                   va = 'center', ha='center',fontsize=15, fontweight='light', fontfamily='serif',
                   color='white')
    
    
for i in mf_ratio.index:
    ax.annotate(f"{int(mf_ratio['Run'][i]*100)}%", 
                   xy=(mf_ratio['Ride'][i]+mf_ratio['Run'][i]/2, i),
                   va = 'center', ha='center',fontsize=40, fontweight='light', fontfamily='serif',
                   color='white')
    ax.annotate("Run", 
                   xy=(mf_ratio['Ride'][i]+mf_ratio['Run'][i]/2, -0.25),
                   va = 'center', ha='center',fontsize=15, fontweight='light', fontfamily='serif',
                   color='white')






# Title & Subtitle
fig.text(0.125,1.03,'Ride & Run distribution', fontfamily='serif',fontsize=15, fontweight='bold')
fig.text(0.125,0.92,'We see vastly more movies than Runs on Netflix.',fontfamily='serif',fontsize=12)  

for s in ['top', 'left', 'right', 'bottom']:
    ax.spines[s].set_visible(False)
    


#ax.legend(loc='lower center', ncol=3, bbox_to_anchor=(0.5, -0.06))

# Removing legend due to labelled plot
ax.legend().set_visible(False)
plt.show()

In [ ]:
# Grouping by activity type
grouped_by_type = activies_df.groupby(['Activity Type', 'Year', 'Month']).agg({'Activity ID': 'count', 'Distance':'sum', 'Elapsed Time':'sum', 'Calories':'sum'}).reset_index()
rides = grouped_by_type[grouped_by_type['Activity Type'] == 'Ride']
rides.head()

In [ ]:
# Calculating cummulative sum of distance and elapsed time
rides['Cummulative Distance'] = rides.groupby(['Year']).agg({'Distance': 'cumsum'})
rides['Cummulative Calories'] = rides.groupby(['Year']).agg({'Calories': 'cumsum'})
rides.tail()

In [ ]:
fig = px.line(rides, x="Month", y="Cummulative Distance", color='Year', markers=True)
fig.show()

In [ ]:
grouped_by_bike = activies_df.groupby('Activity Gear').agg({'Distance':'sum'}).sort_values(by='Distance', ascending=False).reset_index()
grouped_by_bike

In [ ]:
fig = px.bar(grouped_by_bike, x='Activity Gear', y='Distance', color='Activity Gear')
fig

In [ ]:
###########################
# UNSUPERVISED CLUSTERING #
###########################